#Card {
    margin-right: 10px;
    padding-top: 0px;
    padding-bottom: 25px;
    padding-left: 10px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 0px;
    min-width: 200px;
    max-width: 350px;

    border-style: solid;
    background-image: url("mockup.jpg");
    background-size: 100%;
}

#CustomerSupport {
    margin: 0px;
    padding: 0px;
    line-height: 0px;
}

#SubHeader {
    margin: 0px;
    padding: 0px;
    line-height: 0px;
    margin-left: 105px;
}

#Header {
    line-height: 0px;
    text-align: center;
    padding-bottom: 5px;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
    background: radial-gradient(circle, rgb(129, 143, 216) 0%, rgb(33, 90, 212) 100%);    
}
