#Card {
    margin-right: 200px;
    padding-top: 0px;
    padding-bottom: 25px;
    padding-left: 10px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 0px;
    width: 350px;
    max-width: 350px;

    border-style: solid;
    background-image: url("mockup.jpg");
    background-size: 100%;
}

#CustomerSupport {
    margin: 0px;
    padding: 0px;
    line-height: 0px;
}

#SubHeader {
    margin: 0px;
    padding: 0px;
    line-height: 0px;
    margin-left: 120px;
}
